@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://api.fontshare.com/v2/css2?family=clash-display@200,400,700,500,600,1,300&display=swap");
@import url("https://api.fontshare.com/v2/css?family=cabinet-grotesk@1,800,500,100,700,400,300,200,900&display=swap");

* {
  scrollbar-width: thin;
  scrollbar-color: #eeeeee rgb(80, 80, 80);
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #eeeeee;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(80, 80, 80);
  border-radius: 30px;
  border: 3px solid #2c2c2c;
}

@config "../tailwind.config.cjs";

@tailwind base;
@tailwind components;
@tailwind utilities;
