@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
.animate-gradient {
  animation: animateGradient 2s ease infinite;
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@config "../tailwind.config.cjs";

@tailwind base;
@tailwind components;
@tailwind utilities;
